<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start" class="text-white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="../assets/images/logos/white/logo 2.svg" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text class="text-white ion-text-center">
          <h3>Mi perfil</h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-avatar style="height: 200px; width: 200px;">
          <img src="{{ userService.picture }}">
        </ion-avatar>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="light" class="ion-text-center">
          <h1>Mi nombre:</h1>
        </ion-text>
        <ion-text color="light" class="ion-text-center">
          <h3>{{ userService.name }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="light" class="ion-text-center">
          <h1>Mi teléfono:</h1>
        </ion-text>
        <ion-text color="light" class="ion-text-center">
          <h3>{{ userService.phone ? userService.phone : '-' }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-text color="light" class="ion-text-center">
          <h2>Mi correo:</h2>
        </ion-text>
        <ion-text color="light" class="ion-text-center">
          <h3>{{ userService.email }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
