
/* Las variables scss utilizadas estan en global.scss  */

ion-title img
{
  width: 10%;
}

ion-title.md img
{
  width: 10%;
  margin-left: 35%;
}

.img-header
{
  height: 25vh;
  width: 100%;
  border-radius: 5px;
}
