<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="text-white">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="../assets/images/logos/white/logo 2.svg" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <app-menu-buttons></app-menu-buttons>

    <ion-row *ngFor="let d of devociones;" >
      <ion-col>
        <ion-card class="fondo" style="background-image: url( {{ d.image }} )">
          <ion-card-content>
            <ion-grid class="grid-cards">
              <ion-row>
                <ion-col class="title" size="7">
                  <p class="text-white">{{ d.text }}</p>
                </ion-col>
                <ion-col class="more">
                  <ion-router-link class="hyper-color f-19" href="#">Leer</ion-router-link>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
