.text-white
{
    color: #ffffff;
}

.question
{
    font-size: 18px;
}

h2
{
    font-size: 32px;
}

.answer
{
    white-space: normal !important;
}

.row-button
{
  margin-top: 20px;
}

.text-instruccions
{
    margin-left: 20px !important;
    margin-right: 20px !important;
}