/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

.btn-aje-selected
{
  --background: rgba(0,184,206,1) !important;
  --background: -moz-linear-gradient(left, rgba(0,184,206,1) 0%, rgba(0,72,105,1) 100%) !important;
  --background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,184,206,1)), color-stop(100%, rgba(0,72,105,1))) !important;
  --background: -webkit-linear-gradient(left, rgba(0,184,206,1) 0%, rgba(0,72,105,1) 100%) !important;
  --background: -o-linear-gradient(left, rgba(0,184,206,1) 0%, rgba(0,72,105,1) 100%) !important;
  --background: -ms-linear-gradient(left, rgba(0,184,206,1) 0%, rgba(0,72,105,1) 100%) !important;
  --background: linear-gradient(to right, rgba(0,184,206,1) 0%, rgba(0,72,105,1) 100%) !important;
  --filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b8ce', endColorstr='#004869', GradientType=1 ) !important;

  --border-radius: 50px;
  --border: none;
  --padding-left: 25px;
  --padding-right: 25px;
  --height: 150px !important;
  --width: 125px;
  --color: white;
  --font-size: 20px;
}

.btn-aje
{
  --border-radius: 50px;
  --border: none;
  --padding-left: 25px;
  --padding-right: 25px;
  --color: white;
  --height: 150px !important;
  --width: 125px;
  --font-size: 20px;

  --background: rgba(18 , 18, 18, 1) !important;
}

.btn-aje:visited
{
  border-radius: 50px;
  border: none;
}

.hyper-color
{
  color: rgba(0,184,206,1) !important;
}

ion-title img
{
  width: 10%;
}

ion-title.md img
{
  width: 10%;
  margin-left: 35%;
}

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
