.buttons-group
{
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto !important;
  -webkit-overflow-scrolling: touch !important;
}

.buttons-group::-webkit-scrollbar
{
  display: none !important;
}

.row-fluid
{
  white-space: nowrap !important;
}

.row-fluid button
{
  display: inline-block !important;
  margin-right: 10px;
  margin-left: 10px;
}