<div class="buttons-group">
  <div class="row-fluid">
    <button type="button" #start (click)="startClick( )" class="btn-aje-selected">
      Inicio
    </button>
    <button type="button" #devocion (click)="devClick( )" class="btn-aje">
      Devocionales
    </button>
    <button type="button" #contenido (click)="contClick( )" class="btn-aje">
      Contenido
    </button>
    <button type="button" #testimonios (click)="testClick( )" class="btn-aje">
      Testimonios
    </button>
  </div>
</div>
