<div class="buttons-group">
  <div class="row-fluid">
    <ion-button type="button" #start (click)="startClick( )" size="large" class="btn-aje-selected">
      Inicio
    </ion-button>
    <ion-button type="button" #devocion (click)="devClick( )" size="large" class="btn-aje">
      Devocionales
    </ion-button>
    <ion-button type="button" #contenido (click)="contClick( )" size="large" class="btn-aje">
      Contenido
    </ion-button>
    <ion-button type="button" #testimonios (click)="testClick( )" size="large" class="btn-aje">
      Testimonios
    </ion-button>
  </div>
</div>
